*
{
    margin : 0;
    padding : 0;
    box-sizing:boarder-box;
}
body
{
background:"69.jpg";
 position: absolute;
 background-repeat:no-repeat;
 background-size:100%;
 transform:translate(-50%,-50%);
 left:50%;
 top:50%;
}